{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
<div class="me">

     <h1>About</h1>

<div>
    <p>
    
MVC står för Model-View-Controller och är ett designmönster som används för att strukturera mjukvaruapplikationer,
vanligtvis webbapplikationer.
Syftet med MVC-kursen är att lära ut hur man bygger skalbara och 
underhållbara webbapplikationer genom att separera applikationslogiken i tre olika komponenter:

Model (Modell): Representerar applikationens datastruktur och innehåller logik för att hämta,
lagra och bearbeta data. Modellen representerar även applikationens affärslogik och definierar hur data ska presenteras för användaren.

View (Vy): Ansvarar för att visa data för användaren och svara på användarinteraktioner.
Vyn presenterar informationen på ett läsbart och användarvänligt sätt, vanligtvis i form av HTML-sidor.

Controller (Kontroller): Fungerar som en mellanhand mellan modellen och vyn. Kontrollern tar emot inkommande förfrågningar från användaren, hämtar data från modellen och skickar det till rätt vy för att visas för användaren. Kontrollern hanterar även användarinteraktioner och vidarebefordrar dem till lämplig del av applikationen.

Genom att följa MVC-mönstret kan utvecklare separera olika ansvarsområden och göra koden mer modulär, återanvändbar och lättare att underhålla. Kursen syftar till att ge en grundläggande förståelse för MVC-mönstret och hur det kan tillämpas i praktiken för att utveckla robusta och skalbara webbapplikationer. Deltagarna lär sig vanligtvis även om olika ramverk och verktyg som stöder MVC-arkitekturen, samt bästa praxis för att implementera och hantera MVC-applikationer.
    </p>
</div>

<div>
 <a href="https://github.com/dbwebb-se/mvc">Kursens github</a>
</div>
<div>
 <a href="https://github.com/Abedsandid1997">Mitt github</a>
</div>

</div>



{% endblock %}