* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202324;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    height: 100px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.nav-toggle {
    display: none;
}

nav a:hover {
    color: wheat;
    font-weight: bold;
}

/* footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
} */

.myimg{
    width: 200px;
    height: 200px;
    border-radius: 75px;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    gap: 1.5rem ;
    width: 100%;
    padding: 1rem;
    flex: 1;


}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color: #b8daff;
    flex: 1;


}
h1{
    margin-bottom: 1rem;
}

/** footer.css */

/*
 * Set colors and size.
 */
 .footer {
    background: linear-gradient(to bottom, #666, #000);
    color: white;
    padding: 0 1em;
    margin-top: auto;
}

/*
 * Style the links.
 */
.footer a {
    color: black;
    text-decoration: none;

}

.footer a:hover {
    color: wheat;
    text-decoration: none;
}

/*
 * Style the content.
 */
.box h4 {
    border-bottom: 2px solid black;
}

.final {
    text-align: center;
}

/*
 * Style the rows and columns.
 */
.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.footer .row > .col3 {
    width: calc(100% / 3);
}

.footer .row > .col1 {
    width: 100%;
}

 .footer {
    background-size: cover;
    color: black;
    padding: 0 1em;
}

/* html {
    background-color: #7d56d6;
} */
.redovisning{
    width:90%;
}

.redovisning a{
    text-decoration: none;
}
.redovisning a:hover{
    text-decoration: none;
    color: wheat;
}
.redovisning h1{
    color: rgb(136, 62, 8);
    text-align: center;
}
.deck {
    display: grid;
    grid-template-columns: repeat(13,1fr);
    list-style-type: none;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: 15px;
}

/* .card {
    width: calc(100% / 13 - 20px);
    margin-bottom: 20px;
    text-align: center;
} */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    height: 3rem;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .flash-notice {
    padding: 3.5em;

    color: #004085;
    background-color: #83f2a9;
    border-color: #b8daff;
    margin: auto;

}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 3.5em;
    color: #fbf9f4;
    background-color: rgb(74, 5, 5);
    border-color: #ffeeba;
    margin: auto;
}
.flash-warning:before {
    content: "⚠";
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .table{
    display: flex;
    gap:5px;

  }

  .me_table{
    display: flex;
    gap:5px;
    margin-top: auto;
}
.game{
    background-color: darkgreen;
    width: 60%;
    min-height: 600px;
    gap: 10px;
    margin: auto;
    border-radius: 100px;
    border: 2px solid red;
    padding: 1rem;
}
.button-yellow{
    background-color: #ffcc00;
    font-size: 1.5rem;
    color: brown;
    padding: 10px 30px;
}

.button-yellow:hover {
    background-color: #8d7102;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #book {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #book td, #book th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #book tr:nth-child(even){background-color: #f2f2f2;}
  
  #book tr:hover {background-color: #ddd;}
  
  #book th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }