* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202324;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
.blackjack-header .nav{
    background-color: #790024;
    border-radius: 60px;
    border: 2px solid Green;
}

header{
    height: 100px;
    width: 100%;
}

.blackjack-header{
    height: 100px;
    width: 100%;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}
.nav li {
    font-size: 1.5rem;
}
.red{
    color: red;
}

.green{
    color: green;
}
.nav a, .nav-toggle {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.nav-toggle {
    display: none;
}

nav a:hover {
    color: wheat;
    font-weight: bold;
}

/* footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
} */

.myimg{
    width: 200px;
    height: 200px;
    border-radius: 75px;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    gap: 1.5rem ;
    width: 100%;
    padding: 1rem;
    flex: 1;


}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color: #b8daff;
    flex: 1;
    width: 80%;

}
.main p{
    width: 80%;
}
h1{
    margin-bottom: 1rem;
}

/** footer.css */

/*
 * Set colors and size.
 */
 .footer {
    background: linear-gradient(to bottom, #666, #000);
    color: white;
    padding: 0 1em;
    margin-top: auto;
    width: 100%;
}

/*
 * Style the links.
 */
.footer a {
    color: black;
    text-decoration: none;

}

.footer a:hover {
    color: wheat;
    text-decoration: none;
}

/*
 * Style the content.
 */
.box h4 {
    border-bottom: 2px solid black;
}

.final {
    text-align: center;
}

/*
 * Style the rows and columns.
 */
.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.footer .row > .col3 {
    width: calc(100% / 3);
}

.footer .row > .col1 {
    width: 100%;
}

 .footer {
    background-size: cover;
    color: black;
    padding: 0 1em;
}

/* html {
    background-color: #7d56d6;
} */
.redovisning{
    width:90%;
}

.redovisning a{
    text-decoration: none;
}
.redovisning a:hover{
    text-decoration: none;
    color: wheat;
}
.redovisning h1{
    color: rgb(136, 62, 8);
    text-align: center;
}
.deck {
    display: grid;
    grid-template-columns: repeat(13,1fr);
    list-style-type: none;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: 15px;
}

/* .card {
    width: calc(100% / 13 - 20px);
    margin-bottom: 20px;
    text-align: center;
} */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    height: 3rem;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .flash-notice {
    padding: 3.5em;

    color: #004085;
    background-color: #83f2a9;
    border-color: #b8daff;
    margin: auto;
    border-radius: 50px;

}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 3.5em;
    color: #fbf9f4;
    background-color: rgb(74, 5, 5);
    border-color: #ffeeba;
    margin: auto;
    border-radius: 50px;

}
.flash-warning:before {
    content: "⚠";
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .table{
    display: flex;
    gap:5px;

  }

  .me_table{
    display: flex;
    gap:5px;
    margin-top: auto;
    justify-content: space-around;
    width: 100%;
}
.game{
    width: 70%;
    min-height: 600px;
    gap: 10px; 
    margin: auto;
    border-radius: 500px;
    border: 2px solid red;
    padding: 1rem;
    background-size: cover;

}
.button-yellow{
    background-color: #ffcc00;
    font-size: 1.5rem;
    color: brown;
    padding: 10px 30px;
}

.button-yellow:hover {
    background-color: #8d7102;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #book {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #book td, #book th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #book tr:nth-child(even){background-color: #f2f2f2;}
  
  #book tr:hover {background-color: #ddd;}
  
  #book th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  @keyframes moveFromRight {
    from { transform: translateX(100%); }
}

@keyframes moveToRight {
    to { transform: translateX(100%); }
}

.slide-in {
    animation: moveFromRight 0.4s ease both;
}

.slide-out {
    animation: moveToRight 0.4s ease both;
}

.hands-num{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.selected {
    border: 2px solid red; /* Visual cue for selected cards */
}

.hand-num {
    cursor: pointer;
    transition: transform 0.3s;
}

.hand-num:hover {
    transform: scale(1.1);
}
.bet-amount{
    width: 12rem;
}
.intelligence-option {
    cursor: pointer;
    transition: transform .3s;
    border: 2px solid red;
    border-radius: 50px;
    padding: 1rem;
    margin-top: 0.5em;
}
.intelligence-option:hover {
    transform: scale(1.1);
    color:white;
}

.intelligence-options{
    left: 5rem;
    position: fixed;
    top: 10rem;
    padding: 1.5rem;
    border-radius: 10rem;
    color: green;
    font-size: 1.4rem;
}
.intelligence-options .selected{
    color:white;
    border: 2px solid green;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    color:blue;
}

/* Table headers styling */
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

/* Header background and text color */
th {
    background-color: #f2f2f2;
    color: #333;
}

/* Row striping */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect on table rows */
tr:hover {
    background-color: #f1f1f1;
}
.Statistics{
    position:fixed;
    color: red;
    right: 3rem;
    top: 5rem;

}



.tokens{
    position:fixed;
    bottom: 8rem;
    left: 15rem;
    font-size: 2rem;
    color: red;
}

.about{
    margin: auto;
    background-color: green;
    padding: 3rem;
    border-radius: 112px;
}

.result{
    background-color: #256a2a;
    bottom: 16.5rem;
    color: red;
    position: fixed;
    padding: 4px;
    border: 2px solid black;
    border-radius: 13px;
}