{% extends "base.html.twig" %}

{% block title %}kmom03{% endblock %}

{% block body %}
<div class="me">
    <div class="redovisning">
     <h1>kmom03</h1>
    <p>Modelleringen av ett kortspel med flödesdiagram och pseudokod var en givande erfarenhet. Det hjälpte mig att visualisera hur spelet skulle fungera steg för steg och identifiera viktiga beslutspunkter i spelets logik. Att skapa pseudokod gjorde det också lättare att planera och organisera koden innan jag började implementeringen.

När det gäller min implementation av uppgiften, löste jag den genom att först skapa klasser för spelaren, banken och spelet självt.
Att skriva koden för klasser var inte så svårt i Princep. Det som var utmanande var att komma på idéer och bestämma vilka attribut och metoder som skulle ingå. Men det var något vi redan hade övat på under förra kursmomentet.

Jag är nöjd med den grundläggande funktionaliteten, men jag ser också förbättringspotential i min kodstruktur och klassdesign. Till exempel skulle jag kunna refaktorisera vissa delar för att göra koden mer läsbar och modulär.

Att koda i Symfony har varit en lärorik upplevelse. Ramverket erbjuder många praktiska verktyg och konventioner som underlättar utvecklingen av komplexa webbapplikationer. Jag uppskattar särskilt den inbyggda routningen och konfigurationshanteringen, vilket sparar tid och minskar risken för fel.

Min TIL för detta kursmoment är vikten av att använda pseudokod och flödesdiagram för att planera och strukturera kod innan man börjar implementera den. Det hjälper till att undvika förvirring och ökar förståelsen för problemet och dess lösning.</p>
    </div>
  
    
</div>
{% endblock %}