{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
<div class="me">
    <div class="redovisning">
     <h1>kmom01</h1>
    <p>
    Under det här kursmomentet stötte jag på utmaningar på grund av den överflöd av ny information,
    inklusive Symfony, OOPHP och arbete med routes i PHP och JSON API.
    Trots dessa utmaningar fann jag det också vara en berikande och spännande erfarenhet.
    Koncepten med klasser och routes var inte så svåra att förstå,
    då de delvis liknade de jag tidigare stött på i Python och JavaScript.
    Skillnaderna låg främst i strukturen och syntaxen.
    Symfony var en ny plattform för mig och att få en djupare förståelse för dess
    kodstruktur och användning av olika paket var en fascinerande del av kursen.
    Genom att utforska Symfony och dess komponenter fick jag också
    möjlighet att fördjupa min kunskap om PHP-klasser och effektiv hantering av routes.
    Sammanfattningsvis var detta kursmoment en betydelsefull del av min resa inom webbutveckling,
    och jag känner mig mer säker och kunnig när det gäller att arbeta med PHP och Symfony.
    </p>
    </div>
  
    
</div>
{% endblock %}