{% extends 'base4.html.twig' %}

{% block title %}Library!{% endblock %}

{% block body %}


<div class="me">
     <h1>welcom to my Library</h1>
    <p>Jag heter Abdelraman Sandid och jag är för närvarande student vid BTH,
    där jag studerar webbprogrammering.
    Jag har en passion för programmering och njuter av att arbeta med olika programmeringsprojekt.
    På min fritid brukar jag träna på gymmet och spela padel med mina vänner, samt umgås med dem</p>
        <img class="myimg" src="{{ asset('img/abed.jpg') }}" alt="">
</div>
{% endblock %}
